.post {
  width: 75%;
  margin: 0 5rem 40px;
}
.postContext {
  padding: 0 10px 10px;
}
.postDetails {
  background-color: antiquewhite;
  padding: 0 10px;
}

.userName a {
  text-decoration: none;
  color: purple;
  font-size: 25px;
}
.date {
  font-size: 14px;
}
